@charset "utf-8";

/*초기화*/
*{margin: 0; padding: 0; box-sizing: border-box;}

/*공통*/
a{text-decoration: none;}
li{list-style-type: none;}
img{max-width: 100%;}
body{background-color: #fff; color: #333;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}

/*전체영역*/
.wrap{width: 100%;}

/*A, C, B 묶음*/
.top{height: 800px; min-width: 1200px; display: flex;}

/*A*/
header{width: 200px; background-color: dimgray; padding: 30px 10px;}
header h1{text-align: center; margin-bottom: 30px;}
header nav>ul>li{position: relative;}/*A-메인메뉴*/
header nav>ul>li>a{
    display: block;
    padding: 20px;
    background-color: brown;
    color: #fff;
    font-weight: bold;
}
header nav>ul>li>a:hover{background-color:black; color: #fff;}
header nav .sub{/*A-서브메뉴*/
    position: absolute;
    top: 0;
    width: 100%;
    right: -180px;
    z-index: 10;
    display: none;
}
header nav .sub li a{
    display: block;
    padding: 20px;
    background-color:lightcoral;
    color: #fff;
}
header nav .sub li>a:hover{background-color:dimgray; color: #000;}
header .spot{
    margin-top: 20px;
    text-align: center;
    font-size:14px;
}
header .spot a, header .spot span{color: #fff;} 
header .spot a:first-of-type{padding-right: 10px;}
header .spot a:last-of-type{padding-left: 10px;}

/*C*/
.con{width: 400px; background-color: darkred;}
/* 
.con article{background-color: #fff;}
.con article h2{color: darkred;}
*/
.banner{background-color: darkred;}
.banner a{display: flex; padding: 30px 10px; align-items: center;}
.banner .photo{flex-basis: 100px; margin-right: 10px;}
.banner .text{flex-grow: 2;}
.banner .text h2,.banner .text p{color: #fff;}
.banner .arrow{margin-left: 10px;}
.notice, .gall{margin-top: 30px;}
.notice h2, .gall h2{color: #fff; padding: 10px; background-color: black; width: 150px;}
.notice table{margin-top: 20px;}
.notice table tr{border-bottom: 1px solid #fff;}
.notice table th{text-align: left;}
.notice table th a{color:#fff; padding: 10px;}
.notice table td{color:#fff;}
.gall ul{display: flex; justify-content: space-around; margin-top: 20px;}
.gall ul li{flex-basis: 40%;}
.gall ul li:hover{opacity: .5;}
.gall ul li p{color: #fff; text-align: center; margin-top: 10px;}

/*B*/
.slide{width: calc(100% - 600px); background-color: darksalmon;}
.slide ul{}
.slide ul li{}
.slide ul li a{}
.slide ul li.s1{background-image: url(../images/s1.jpg);}
.slide ul li.s2{background-image: url(../images/s2.jpg);}
.slide ul li.s3{background-image: url(../images/s3.jpg);}


/*D*/
footer{height: 100px; background-color: dimgray;}


/*popup*/
.popup{}
