@charset "utf-8";

*{padding: 0; margin: 0; box-sizing: border-box;}
body{color: #333; background-color: #fff;}

li{list-style-type: none;}
a{text-decoration: none; color: inherit;}
table{border-collapse: collapse; width: 100%;}
img{max-width: 100%;}
button{cursor: pointer;}

.wrap{position: relative;}

/*A*/
.inner{
    width: 1340px; 
    margin: 0 auto; 
    position: relative;
}
header{height: 100px; background-color: salmon;}
header>nav{
    position: absolute; 
    right: 0; 
    top: 50px;
    text-align: center;
    z-index: 10;
}
header>nav>ul{display: flex;}
header>nav>ul>li>a{
    width: 180px;
    display: block;
    background-color: salmon;
    padding: 10px 20px;
}
header>nav>ul>li>a:hover{
    background-color: blanchedalmond;
    font-weight: bold;
}
.sub{
    height: 125px;
    background-color: rgba(0, 0, 0, .5); 
    color: #fff;
    display: none;
}
.sub a{display: block; padding: 5px;}
.sub a:hover{ background-color: #333;}

/*B*/
.slide{
    position: relative;
    width: 100vw;
    height: 350px;
    overflow: hidden;
}
.slide a{display: block;}
.slide .s1{
    display: block;
    background: url('../img/s1.jpg') no-repeat center/cover;
    height: 350px;
}
.slide .s2{
    background: url('../img/s2.jpg') no-repeat center/cover;
    height: 350px;
}
.slide .s3{
    background: url('../img/s3.jpg') no-repeat center/cover;
    height: 350px;
}
.slide .text{
    position: absolute;
    color: #fff;
    text-align: center;
}
.slide .menu_icons{
    display: flex;
    position: absolute;
    gap: 100px;
    background-color: salmon;
    height: 80px;
    width: 1340px;
    bottom: 0;
    left: 11%;
}
.slide .menu_icons img{
    width: 50px;
    height: 50px;
}
.slide .menu_icons a{display: block;}
.slide .menu_icons li{
    display: flex;
    padding-top: 10px;
    color: #fff;
    padding-left: 50px;
}

/*C*/
.content{
    width: 1340px;
    margin: 0 auto;
    position: relative;
}

.banner{margin-top: 30px; height: 200px;}
.banner ul{display: flex;}
.banner ul li a{display: block; padding: 10px;}
.banner ul li:nth-child(3){
    position: absolute;
    right: 0;
}
.banner img{width: 100px; height: 100px;}

.con{position: relative; height: 300px;}
.tabmenu{display: flex;}
.tabmenu li{
    background-color: #333;
    color: #fff;
    text-align: center;
}
.tabmenu li>h2>a{
    color: #fff;
    padding: 10px;
}
.tabmenu li.on{
    background-color: salmon;
    color: #fff;
}
.tabmenu .off{
    position: absolute;
    left: 0;
    padding: 10px;
    height: 200px;
    background-color: #333;
    color: #fff;
}

.off ul{display: flex;}
.off img{width: 130px; height: 130px;}



/*D*/
footer{
    position: relative; 
    height: 120px; 
    display: flex;
    background-color: #333;
    color: #fff;
    padding-top: 30px;
}
.under ul{display: flex;}
.under ul li a{
    display: block; 
    text-decoration: underline;
    border-right: 1px solid #fff;
    margin-right: 30px;
    padding-right: 20px;
}

/*popup*/
.popup{
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 20px 100px;
    left: 35%;
    top: 15%;
    border-radius: 20px;
    z-index: 100;
    text-align: center;
    display: none;
}
button{
    position: absolute;
    right: 10px;
    bottom: 10px;

}